[2019-07-15 15:01] jlewi opened #2 "Optionally tag issues into projects based on assigned label"
I think it would be highly useful if people could specify a GitHub project to tag issues into based on the label.

This would make it easy for people to take advantage of GitHub projects for triaging issues.

Newly tagged issues would go into the TODO column. Humans could then use that column to track which issues still need to be manually reviewed and move them to appropriate columns.

[2019-07-15 15:15] jlewi opened #3 "Add related issues / possible duplicates"
A lot of time people file issues without searching to see if there is an existing bug already filed.

It would be great if the bot could optionally comment on an issue pointing out related issues.

Example
kubeflow/kubeflow#3659 - Calls out the fact that the IAP enabler pod is crash looping
This issue is mentioned  in
kubeflow/kubeflow#3628

What if the bot could automatically detect this and add

[2019-07-15 15:43] hamelsmu commented on #2
Are you thinking something similar to [this project](https://github.com/philschatz/project-bot) ?

[2019-07-15 16:13] jlewi commented on #2
@hamelsmu That's exactly what I'm thinking of. I'll try that out and see how it works.

[2019-07-15 18:56] hamelsmu commented on #3
This is definitely doable and could be straightforward from the embeddings we are already generating from the [Issue-Embeddings](https://github.com/kubeflow/code-intelligence/tree/master/Issue-Embeddings) microservice.  I'll put this on a project board

[2019-07-17 04:16] jlewi opened #11 "Notebook to compute stats about time to respond on issue"
@hamelsmu I were discussing how we could eventually show the impact of auto-labeling issues.

One goal of efficiently triaging and routing issues is to reduce the time before someone responds to the issue.

We'd like a notebook to measure response time. Response time would be the time from when the issue is created until someone other than the creator responds to it; a response could be

* A comme

[2019-07-21 00:48] hamelsmu opened #16 "Common data interface?"
We also may want to develop a common way to fetch data across the projects and perhaps make that into a python library questions to consider:

- Fetching isssues in Bulk (Scraping?)
- Recording Changes to Issues (GitHub App,  subscribes to Issues events and logs those into an event stream of some kind?)
- Fetching notifications in Bulk (Authenticate as a user via Oauth instead of as an app pull pr

[2019-07-21 05:20] abcdefgs0324 commented on #16
I think scrapping the issues is the best way to fetch issues when users install the bot at this moment if API needs to address rate limiting and we can store issue embeddings in feast store.

Do we need to store all json payloads for GitHub Events? Or we address new events using a pipeline and store the needed info into specific storage spaces?

[2019-07-21 14:20] hamelsmu commented on #16
Good question.  The data hoarder in me is tempted to say save the json payloads as we may need them down the road for something we haven't thought about to extend the functionality of the bot.  However, at the moment you only need to update the embedding for the Issue in Feast Store (along with a pointer to the original issue, of course)

@jlewi is working on a seperate project to organize/rank no

[2019-07-23 15:21] jlewi opened #17 "Add a process label"
I think a useful label to support would be "process".

A process would be something like setup a new repo. You could imagine the ticket being passed among various people as they go through performing various steps and using the issue to track the steps.

[2019-07-24 17:20] jlewi opened #18 "UI/web app to filter notifications"
https://github.com/kubeflow/code-intelligence/blob/master/notifications/notifications.py

Created a simple but very useful script to filter notifications by using various heuristics to mark some notifications as noise.

Running a script to continually filter notifications is not a frictionless experience.

I think a better experience would be to run it as a web app.

I think the reason we want to

[2019-07-25 03:38] jlewi commented on #16
How does GitHub stale bot work
https://github.com/apps/stale ?

I assume it has a polling based design because it needs to go back and mark issues that have been inactive. So I don't see how it could be responding to a GitHub event saying this issue has been inactive for X days.

I think we can use the API and use a polling based design. We can deliberately spread out our fetching over time based

[2019-07-25 03:42] jlewi opened #19 "Toil metrics; time to triage issues"
The story we want to tell is we increased productivity using ML and various productivity tools.

For that we need a good metric for toil/productivity.

The ideal metric would be something like time to resolve/close issues but this will have high variability and it will be difficult to iterate since we have to wait a long time.

I think a good proxy metric would be time to triage issues.

kubeflow/

[2019-07-25 04:56] hamelsmu commented on #16
The code for stale bot is [Open Source](https://github.com/probot/stale).  It appears to poll the data in a smart way based on a delay from when the issue was last touched.

[2019-07-29 14:28] hamelsmu opened #24 "Confusion with dependencies when you have top level python utilities"
We are sharing libraries in /py

However, each module may have different dependencies.  For example, the dependencies for my application may conflict with the dependencies for /py/code_intelligence.

In this case, might be easier to break out each application into separate repositories so dependencies can be managed more cleanly.

Thoughts? Maybe there is another way of organizing that I haven't c

[2019-07-30 13:37] jlewi commented on #24
How do we share code?

Can we resolve the dependency conflicts; i.e. find a common set of dependencies?

[2019-07-30 13:44] jlewi opened #25 "Scanning and updating issues"
Opening this thread to figure out the best way to download and stay up to date on issues.

I think we want a level based approach.

An edge based approach would be is if we setup a webhook to listen for changes to issues and then record those changes. The problem with this approach is that if our application is down and we miss some events we now have to figure out how to recover.

I think a good

[2019-07-30 14:00] hamelsmu commented on #24
options:
  - separate repo built as python module that can install via pip (pip install https://github...) with applications in their own repo
  - refactor utilities out of other folders into py but do work to make sure no dependencies conflict which they already are.  For example I’m using python 3.7 not sure if f-strings will work on version y’all are running
  - wait until we encounter an issue

[2019-07-30 14:17] hamelsmu commented on #24
Also, I think it makes sense for any changes we make to the existing issue bot in production to be reflected back into the main repository at https://github.com/machine-learning-apps/Issue-Label-Bot and not only in this fork, as readers of the blog and other links point to that as the production repository (for example if someone wants to see the production code).

Even though we forked this repos

[2019-07-30 14:39] hamelsmu commented on #24
I changed my mind and updated comments so please read this issue directly instead of your email.  Thanks

[2019-07-31 17:17] hamelsmu commented on #24
I went ahead and made the suggested changes as it didn't really touch anyone's code and only slightly changed the layout of the repo.  We can address the forked nature of this repo at another time it is not critical

[2019-08-01 18:07] abcdefgs0324 opened #29 "Code organization for python module imports"
- Should be very clear about what's a top level python package
- Always use absolute imports including unit tests
- Tell people what modules are top level python packages and expect them to set it appropriately
- Handle the situation that Python may disallow dashes in package names, i.e., `Label-Microservice`

[2019-08-02 17:55] hamelsmu commented on #24
This issue is more or less resolved.  closing

[2019-08-02 17:56] hamelsmu commented on #29
I agree thanks for putting this down.  I've been bad at following these rules of thumb

[2019-08-09 23:41] hamelsmu opened #36 "Move notebook into application specific folder: py/code_intelligence/triage.ipynb"
@jlewi perhaps you would like to move your notebook currently residing in `py/code_intelligence/triage.ipynb` into  a different folder that for your notification triaging application?  My understanding that everything in the top level /py folder is for python modules to be used across projects only, and thing like notebooks are more the application itself which should go in a different folder at t

[2019-08-09 23:56] hamelsmu commented on #36
cc: @abcdefgs0324 @zhenghuiwang

[2019-08-10 00:42] hamelsmu commented on #36
Reference this comment:  https://github.com/kubeflow/code-intelligence/pull/34#issuecomment-520102842

[2019-08-10 00:42] hamelsmu commented on #29
Referencing this comment: https://github.com/kubeflow/code-intelligence/pull/34#issuecomment-520102842

[2019-08-10 00:44] hamelsmu commented on #24
duplicate of https://github.com/kubeflow/code-intelligence/issues/29

[2019-08-10 00:44] #24 closed

[2019-08-10 00:46] hamelsmu commented on #29
ok I'm consolidating everything into one issue:

1. Moving the notebook in /py  https://github.com/kubeflow/code-intelligence/issues/36
2. confusion with dependency management https://github.com/kubeflow/code-intelligence/issues/24
3. https://github.com/kubeflow/code-intelligence/pull/34 where we disucss this as well

[2019-08-13 00:09] #36 closed

[2019-08-19 16:19] hamelsmu commented on #16
closing this issue as I believe it has been resolved

[2019-08-19 16:19] #16 closed

[2019-08-19 16:41] #29 closed

[2019-09-11 18:32] abcdefgs0324 opened #52 "Move the label microservice to the production cluster"
Currently, the flask app (the original bot) and the repo-specific label microservice are running in two different clusters in two different GCP projects.
We need to move the label microservice to the same cluster in the production.

[2019-09-13 20:52] abcdefgs0324 opened #55 "Add one more step to select labels which can be predicted"
For now, we choose labels which satisfy both of the precision and recall thresholds (e.g., 0.7 and 0.5 as default respectively) to be able to be predicted. It may cause a small label coverage depending on different repositories.

An option is that we can choose labels by two steps
1. Choose labels which satisfy both of the precision and recall thresholds. (the current method)
1. For remaining labe

[2019-11-23 04:11] hamelsmu opened #58 "Testing issue!"
Let's see if this triggers a workflow

[2019-11-23 23:58] hamelsmu commented on #58
@jlewi Please test this out.

By the way the workflow file is located here: https://github.com/kubeflow/code-intelligence/blob/master/.github/workflows/triage_issues.yaml

[2019-11-24 00:00] hamelsmu opened #60 "Issue to test out Triage Action"
Testing out the triage action

[2019-11-25 18:06] jlewi opened #61 "Install Triage GitHub Action on Kubeflow Repos"
Opening this issue to track using the new GitHub action to run our triage script in response to changes to an issue.

Some changes to the Kubeflow Infra

* Created service account github_actions and uploaded the GCP SA as a GitHub secret

   * This will be used by the action to push containers to gcr.io/kubeflow-ci

* Uploaded a personal access token for the github kubeflow-bot account to be used

[2019-11-25 21:12] hamelsmu commented on #61
@jlewi this issue triggered this: https://github.com/kubeflow/code-intelligence/commit/ecbab8b8ca38ce8175c0a2550ab2a916e14d0e1d/checks?check_suite_id=328290064#step:3:9 after the latest workflow.  Does it look correct to you?

[2019-11-25 21:32] jlewi commented on #61
It looks like the script ran successfully

[code]

But the output doesn't look correct. The issue doesn't have a priority and therefore should need triage and the script should have added it to the triage kanban board.

I'm going to try retriggering it by removing the kind label.

[2019-11-25 22:28] jlewi opened #62 "Test auto-add to kanban board via GitHub action"
Open an issue to test whether github action to auto add to Kanban board is working.

[2019-11-25 22:37] jlewi opened #63 "issue_triage.py should not consider labels that have been removed"
Right now if a label is added and then removed issue_triage.py would still take into account that label when deciding whether an issue needs triage.

This is because we look at the time labels were created:
https://github.com/kubeflow/code-intelligence/blob/ecbab8b8ca38ce8175c0a2550ab2a916e14d0e1d/py/issue_triage/triage.py#L81

But we don't take into account whether that label is still present on

[2019-11-25 22:39] jlewi opened #64 "issue_triage.py should consider platform labels in addition to area/labels"
Our triage process currently requires an area label. We should change that to be an area or platform label.

We use plaform labels for cloud specific issues; e.g. GCP. In some cases the platform label is the most appropriate and it doesn't make sense to have an area label as well.

[2019-11-25 22:42] jlewi commented on #62
Woo Hoo!

@hamelsmu  You can see that the kubeflow-bot automatically added this to the Needs Triage Kanban board and then removed it once the appropriate labels were added.

[2019-11-25 22:42] #62 closed

[2019-11-25 23:06] jlewi opened #65 "use GCR instead of DockerHub for the image for the issue_triage action"
#59 defined a GitHub action to triage issues.

As part of that we also defined a GitHub action to build and push the docker image for the action whenever the code in code-intelligence changes.

Currently we are using DockerHub but we'd like to switch to using GCR.

[2019-11-25 23:16] hamelsmu commented on #65
It is not possible to host a Docker Action on anything other than DockerHub right now, this is a limitation of Actions, per @francisfuzz

[2019-11-26 00:49] jlewi commented on #65
Thanks; @hamelsmu

Where would we file a feature request for GitHub actions to support this? Could we file such a feature request and then use this issue to track it.

[2019-11-26 00:57] jlewi opened #66 "Put Docker image for the GitHub triage action in the kubeflow docker hub registry"
The GitHub action for Kubeflow triage is currently using the image
hamelsmu/kubeflow-triage

https://github.com/kubeflow/code-intelligence/blob/9fceba0c7141ab8e02b0f049ee696194cdf24eb4/.github/workflows/build_image.yaml#L15

https://github.com/kubeflow/code-intelligence/blob/9fceba0c7141ab8e02b0f049ee696194cdf24eb4/Issue_Triage/action/action.yml#L20

We should instead push the image to Docker in t

[2019-11-26 01:46] jlewi commented on #66
We have the kubeflow github organization
https://hub.docker.com/orgs/kubeflow

We have the kubeflowrobot account for automating pushes to kubeflow

I created a personal access token for this account. This is currently stored in google's internal secret management system; Google team can access it.

I replaced the DOCKER_USERNAME and DOCKER_PASSWORD secrets on kubeflow/code-intelligence with kubefl

[2019-11-26 01:58] hamelsmu commented on #65
This is one relevant issue that is already open:  https://github.com/github/help-docs/issues/11163

I'll find out where to make a feature request

[2019-11-26 16:41] francisfuzz commented on #65
:wave: Hello everyone! I'm Francis. Thanks @hamelsmu for looping me in! The best place to submit feature requests and product feedback about GitHub Actions is through this form:

https://support.github.com/contact?form[subject]=GitHub+Actions

Hope this helps! ✨

[2019-11-26 18:48] jlewi commented on #66
When the action triggered we got a permission error trying to push to DockerHub
https://github.com/kubeflow/code-intelligence/commit/ea1e5995d7e9bc8e6326c1adf9c5149af2294ced/checks?check_suite_id=329459221

[2019-11-26 18:56] jlewi commented on #66
I'm going to try reproducing it locally; by logging in as the kubeflow robot to docker and building the image.

I got the same error.

[2019-11-26 19:00] jlewi commented on #66
It looks like I had to do a couple things

1. In Docker hub I had to create the repository kubeflow/kubeflow-triage
1. I had to add the developer team with read/write permissions on that repository

I was then able to successfully run `docker push` using the kubeflowrobot account

[2019-11-26 19:01] jlewi commented on #66
https://hub.docker.com/repository/docker/kubeflow/kubeflow-triage

[2019-11-26 19:55] jlewi commented on #65
Thanks I filed a request.

[2019-11-27 04:11] jlewi commented on #61
This is fixed.

See kubeflow/community#306

[2019-11-27 04:11] #61 closed

[2019-11-27 04:54] jlewi opened #69 "Recreate code-intelligence repo to unfork it"
Currently the code-intelligence repository is considered a fork of
machine-learning-apps/Issue-Label-Bot

As a result certain features like code search don't work. GitHub says it is only allowed in the upstream repo.

It looks like there is no way to unfork the repo. We could rename it and create a new repo.

@hamelsmu thoughts?

[2019-11-27 05:00] jlewi commented on #69
It looks like the code is split across the two repositories.
It looks like the flask app for the label microservice is still in the machine-learning-apps repo
https://github.com/machine-learning-apps/Issue-Label-Bot/blob/536e8bf4928b03d522dd021c0464587747e90a87/flask_app/app.py#L143

[2019-11-27 05:07] jlewi opened #70 "Ensemble repo specific and non-repo specific models"
Currently the label bot has two models

1. A generic model trained on all repositories that only handles labels bug, question, feature
1. (Optionally) A repo specific model for repo specific labels

Currently the code uses one model or the other
https://github.com/machine-learning-apps/Issue-Label-Bot/blob/536e8bf4928b03d522dd021c0464587747e90a87/flask_app/app.py#L143

In particular if a repo spec

[2019-11-27 05:25] jlewi opened #71 "Notebook to compute states about label bot"
We need metrics about how many issues were labeled by the label bot and whether they are accurate or not.

The label bot adds a comment to each issue when it adds a label. It also leaves a comment if it can't predict labels with high enough accuracy.

If the label bot is wrong we can detect this by looking to see if someone removed the label applied by the label bot.

We should write some code to

[2019-11-27 06:14] hamelsmu commented on #69
@jlewi there is a way to do this but you must contact GitHub support.

Can you [fill out this form](https://support.github.com/contact) and request that you want to convert this fork to a standalone repository?

Notes
-----

[Stack Overflow Answer](https://stackoverflow.com/a/29326840)

Docs:
[code]

[2019-12-05 06:56] #58 closed

[2019-12-06 02:14] hamelsmu commented on #69
This has been fixed

[2019-12-06 02:14] #69 closed

[2019-12-10 01:15] jlewi opened #72 "issue_triage.py should assign issues with area/platform to a special card"
Currently the issue_triage.py adds all issues needing triage to the card "TODO".

However, we have created a card for issues that have been assigned to area owner. We should automatically move issues with an area or platform issue to "Assigned to Area Owners" card.

This is because one of the ways we will scale triaging is pushing the onus of triaging issues onto area owners. But to do that we fir

[2019-12-22 20:24] #64 closed

[2019-12-23 16:39] jlewi opened #75 "Setup prow and run unittests"
We need to setup prow and trigger the unittests for this repository.

[2019-12-25 00:56] jlewi opened #76 "embedding service shouldn't be exposed externally via ingress"
The embedding service is currently exposed behind an ingress.
https://github.com/kubeflow/code-intelligence/blob/master/Issue_Embeddings/deployment/ingress.yaml

It relies on a TOKEN for authorization
https://github.com/kubeflow/code-intelligence/blob/03709c773e155a1883cd5611f8c5e8ad9341d484/Issue_Embeddings/flask_app/app.py#L89

We don't need to expose it behind an ingress. The only callers to th

[2019-12-25 23:58] jlewi opened #78 "speedup development by using skaffold file sync"
PR #77 contains skaffold.yaml files to continuously build and deploy the microservices.

Skaffold is building the containers on the cluster using Kaniko. The builds look like they are taking O(minutes) to rebuild.

We should be able to speed that up by taking advantage of skaffold's [file sync feature](https://skaffold.dev/docs/pipeline-stages/filesync/) to directly synchronize files to the contai

[2019-12-26 01:39] jlewi commented on #78
I gave this a quick try and skaffold gives me the warngin

[code]

[2019-12-26 14:33] jlewi opened #79 "Use StackDriver + BigQuery to log predictions"
We should use bigquery and stackdriver to log predictions.

This should work as follows

1. We should emit json log entries containing the predictions
1. We should store logs in stackdriver
1. We should setup the bigquery sink for stackdriver

[2019-12-26 14:51] jlewi commented on #78
Using manual mode for skaffold file sync seems to work; Here's my sample stanza

[code]

I was relying on flask's reloader to reload things when the code changed. If instead of using flask we just have a binary running pubsub; we might need to run it in a subprocess and restart it ourselves.

Then again maybe we should continue to use flask to do things like a health check.

[2019-12-26 15:22] jlewi commented on #78
Also hit GoogleContainerTools/skaffold#3454

[2019-12-27 01:20] jlewi commented on #78
I created a simple file to run a program in a subprocess and auto restart it whenever some files change.
https://github.com/kubeflow/code-intelligence/blob/06125b0cd2e25e01b1ec67cf444987747f071600/py/code_intelligence/run_with_auto_restart.py

So far this appears to be working as expected with skaffold's file sync.

[2019-12-29 20:17] jlewi commented on #79
I setup a biguery sink in the project issue-label-bot-dev to begin experimenting with.

[2019-12-30 15:41] jlewi opened #83 "Store and use class labels in MLPClassifier"
It looks like our repo_specific_model is using MLPClassifier.
https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html

The labels, however, are not stored in MLPClassifier's classes attribute.
Instead the label's are stored in the YAML file describing the model.

The code assumes that the labels in the YAML file are listed in the same order as the probabilities

[2019-12-30 16:46] jlewi opened #84 "Create a GitHub App in Kubeflow Org for Label Bot Development"
I think we need to create a new GitHub App to be used for label bot development.
https://developer.github.com/apps/quickstart-guides/setting-up-your-development-environment/#step-2-register-a-new-github-app

The need for a GitHub App for testing is documented here as part of the staging cluster setup
https://github.com/kubeflow/code-intelligence/blob/master/Label_Microservice/docs/set_up_staging_c

[2019-12-30 16:57] jlewi commented on #84
Created the app: kf-label-bot-dev

This is owned by the kubeflow org. Ask one of the kubeflow.org administrators to become an app manager for it.

I had to configure a webhook even though we currently don't plan on using one. So I set it to
https://issue-label-bot-dev-kf.endpoints.issue-label-bot-dev.cloud.goog/label-bot

Installed it on:
kubeflow/code-intelligence
kubeflow/kubeflow
kubeflow/testi

[2019-12-30 23:22] jlewi commented on #70
Now that we are moving to an asynchronous model based on pubsub we could easily have multiple models operating independently just by creating multiple workers with different pubsub subscriptions.

If the models are operating independently we'd have to think about how label combination would be applied. e.g. suppose 1 model applies the label kind/bug but a different model predicts kind/question. Ho

[2019-12-30 23:59] jlewi commented on #70
One of the issues that @hamelsmu raised in the code review #82 is that the probabilities for different models won't be on the same scale.  So simply take the max probability from the two models for the same label may not make sense.

I think this also means that each model should have its own confidence thresholds. For the generic model the thresholds are set here
https://github.com/machine-learni

[2019-12-31 01:26] #84 closed

[2019-12-31 01:29] jlewi commented on #79
There's some information here about doing structured logging with the logging module.
https://docs.python.org/3/howto/logging-cookbook.html#implementing-structured-logging

It looks like this relies on the caller of `logging.info()` to pass a string representing the json dictionary.

I think we want to do something like the json formatter to automatically format all entries as json
https://pypi.or

[2019-12-31 01:33] #76 closed

[2019-12-31 14:31] jlewi opened #86 "Delete github-api-cluster cluster in issue-label-bot-dev"
We should delete the github-api-cluster in project: issue-label-bot-dev.

This cluster was originally created to run the issue embedding microservice.

However, after #80 the issue embedding service should be a microservice in the same namespace as the label microservice and not exposed via ingress.

Once we create updated deployments of the label microservice and the issue embedding service we sh

[2019-12-31 15:21] jlewi opened #87 "Separate rollout/staging process for label bot front end and backend"
The issue label bot is now divided into a front end and backend.

* The frontend is the FlaskApp that handles the GitHub webhooks.

   * The code for the frontend is in https://github.com/machine-learning-apps/Issue-Label-Bot/tree/536e8bf4928b03d522dd021c0464587747e90a87

* The backend consists of the microservices

   * [Label_Microservice](https://github.com/kubeflow/code-intelligence/tree/maste

[2019-12-31 15:24] jlewi commented on #70
Now that the code is complete we need to deploy it.

I think we want to create a new Kubeflow cluster to deploy the updated microservices. Currently we have the different microservices each running in their own cluster in project **issue-label-bot-dev**.

* **github-api-cluster** - This cluster appears to be running the issue embedding microservice.
   * After the code changes; this should now be

[2019-12-31 15:26] jlewi commented on #70
Created a 0.7 deployment.

* **project**: issue-label-bot-dev
* **cluster**: issue-label-bot
* **zone**: us-east1-d

[2019-12-31 16:06] jlewi commented on #70
* Create a KF profile named `kaniko` to create a namespace to run kaniko builds for skaffold

   * Due to GoogleContainerTools/skaffold#3442 we need to run skaffold builds in namespace without istio side car injection

Disable istio injection in this namespace

[code]

* I used the GKE UI to bump the node auto-provisioning settings; increased the number of CPUs to 48.

  * otherwise it couldn't pr

[2019-12-31 16:25] jlewi commented on #70
* skaffold's kaniko jobs won't work with workload identity so we need to copy the GCP secret to the kaniko namespace ( see GoogleContainerTools/skaffold#3468)

[code]

[2019-12-31 16:53] jlewi commented on #70
* Create a Kubeflow profile corresponding to namespace `label-bot-dev`

* Load the github-app secret

[code]

* Disable istio sidecar injection because istio seems to be interferring with the services

[code]

    * The embedding service was failing its readiness probe; it was returning 503s/

[2019-12-31 17:17] jlewi commented on #70
Grant pubsub permissions

[code]

[2019-12-31 17:48] jlewi commented on #70
* Dev version is working lets setup prod
* Create `label-bot-prod` profile
* Disable ISTIO
[code]
* Create the GitHub app secret

[code]

[2019-12-31 18:12] jlewi commented on #70
Update and deploy the production version of the label microservice

1. Build the image

[code]

1. Set the image

[code]
1. Deploy it

[code]
1. Repeat the above steps for the issue embedding microservice

[2019-12-31 18:37] jlewi commented on #70
Deleted the **github-mlapp-test** cluster

[2019-12-31 18:52] jlewi opened #88 "label microservice show 500's contacting metadata server when they first start"
See attached logs. Some of the worker pods for the label microservice are returning 500s when they
first try to contact the metadata server.

[code]

It appears to be able to get credentials though since it is able to verify the pubsub subscription exists. Takes about 4 minutes.

[label-bot-worker-5c8967dc7c-rgv9b.pod.logs.txt](https://github.com/kubeflow/code-intelligence/files/4013309/label-bot-

[2019-12-31 18:57] jlewi commented on #70
Delete the old clusters because we no longer want to run the older versions of the service

Delete clusters
* **github-api-cluster**
* **workers**

[2019-12-31 20:59] hamelsmu commented on #87
Yeah, I suppose it makes sense to separate the front end and back end.  Maybe more accurately, we can call it a "reporting service" since the website (mlbot.net) doesn't really have any relationship to the labeling, and could become its own microservice since it just pulls information from a database.

[2020-01-03 06:11] jlewi commented on #70
Lets delete the old kubeflow deployment.

issue-label-bot-dev-kf

[2020-01-03 06:12] jlewi commented on #70
Here's an issue that was labeled by the bot in the last 24 hours.
https://github.com/kubeflow/kubeflow/issues/4613

It doesn't look like it is using the new code because the comment isn't a markdown table with probabilities.
https://github.com/kubeflow/kubeflow/issues/4613#issuecomment-570131094

[2020-01-03 07:38] jlewi commented on #70
I'm seeing 3 issues.

1. After successfully generating a bunch of predictions we start to see exceptions like the following

[code]

      * Full logs
[label-bot-worker-5c8967dc7c-vm9bd.log.txt](https://github.com/kubeflow/code-intelligence/files/4018397/label-bot-worker-5c8967dc7c-vm9bd.log.txt)

       * As a quick fix we could try catching the FailedPreconditionErrors and crashing the process

[2020-01-03 17:22] jlewi commented on #88
I also observed kaniko jobs launched by skaffold getting stuck. Symptom was kaniko container started but no logs were emitted.

I kicked the node metadata servers

[code]

At that appears to have caused things to start.

I'm running 1.14.9-gke.2

[2020-01-03 19:10] jlewi commented on #79
I created a new sync. It looks like before when I created a sync I used a filter expression that wouldn't include the new prod deployment.

I created a new sync with the filter

[code]

[2020-01-03 19:42] jlewi opened #89 "FailedPreconditionError op not initialized"
From #70; I'm observing the following errors when running the inference model in pubsub workers.

The first couple of predictions succeed but then it starts failing.

This looks like a threading issue. The first successful predictions happen in one thread and the
failed predictions happen in another thread. I logged the thread number to confirm this.

Not sure why we didn't observe this in the ori

[2020-01-03 19:51] jlewi commented on #89
Ref: keras-team/keras#5640

[2020-01-03 20:13] jlewi commented on #89
It looks like doing the following might fix it

[code]

[2020-01-03 20:38] jlewi commented on #89
I'm not convinced that actually worked; my suspicion is that the model is no longer loaded and we are using random weights.

[2020-01-03 20:43] jlewi commented on #89
Yeah looks like that wasn't loading the actual weights. As soon as I changed it to load the model on each predict call I started getting much better results.

As a hack just reload the model.

[2020-01-03 22:45] jlewi opened #90 "LabelBot Frontend should forward all traffic for the Kubeflow org to the pubsub topic"
Follow on to #70

We should update the microservice that is the front end for the label bot (handles GitHub webhooks) so that 100% of issues for repositories in the Kubeflow org are forwarded to the new label microservice backend that combines the universal model and repo specific models (see #70)

Here's a link to the code.
https://github.com/machine-learning-apps/Issue-Label-Bot/blob/536e8bf4928

[2020-01-03 22:49] jlewi commented on #70
Deployed to prod; based on kubeflow/kubeflow#4618 looks like its working.

[2020-01-04 00:23] hamelsmu commented on #89
I encountered these genre of issues when building Issue Label Bot for the first time, feel free to take a look at https://github.com/machine-learning-apps/Issue-Label-Bot/blob/master/flask_app/app.py Incase their is a recipe there that might help

[2020-01-05 19:24] jlewi commented on #89
Thanks @hamelsmu I had looked at https://github.com/machine-learning-apps/Issue-Label-Bot/blob/master/flask_app/app.py and couldn't figure out what it was doing differently that multi-threading doesn't seem to be an issue.

[2020-01-05 19:28] jlewi commented on #84
Generated a secret for the webhook

[code]

Stored in gcs.

[code]

[2020-01-06 01:20] jlewi commented on #84
See: machine-learning-apps/Issue-Label-Bot#57 for the setup of a corresponding front end (to handle the webhooks).

Changed the webhook URL for kf-label-bot-dev to
https://label-bot-dev.mlbot.net

[2020-01-06 02:06] jlewi opened #95 "Test kf-label-bot-dev - this is a bug"
Test for the new kf-label-bot-dev github app.

Want to see if this issue gets processed by the devi instance

[2020-01-06 18:11] jlewi opened #96 "Issue Triage Action Is Failing Missing Pytz"
The issue triage action is failing because the import `pytz` can not be found.

[code]
/assign @jlewi

[2020-01-06 21:09] hamelsmu commented on #89
@jlewi I think I'm lost with some of the code changes.  Can you point me to the flask app code that is serving the Label Microsservice?  I can't seem to find it anywhere in master?

[2020-01-06 21:38] jlewi commented on #96
New image was built.
https://hub.docker.com/r/kubeflow/kubeflow-triage

Still failing.

[code]

[2020-01-06 21:49] jlewi commented on #89
Here is an [Architecture Diagram](https://github.com/kubeflow/code-intelligence/tree/master/Label_Microservice#architecture)

There are basically two pieces

* The [front-end flask app](https://github.com/machine-learning-apps/Issue-Label-Bot/blob/master/flask_app/app.py )

   * This publishes items to pubsub for certain repositories (i.e repositories with their own model)
   * It performs inferen

[2020-01-06 22:21] hamelsmu commented on #89
@jlewi I have an idea how to fix this (I would test it myself, but not sure how to test the microservice):

[code]

[code]

[code]

[2020-01-06 22:27] hamelsmu commented on #89
Oh and sorry for making you repeat the documentation, I should have just looked there instead 🤦‍♂  my apologies

[2020-01-07 00:31] jlewi commented on #89
Thanks @hamelsmu if you wanted to try this out; my suggestion would be to follow the developer guide
https://github.com/kubeflow/code-intelligence/blob/master/Label_Microservice/developer_guide.md

That should explain how to

* Use the dev instance of the deployment
* Use skaffold to quickly sync your locally modified code to code running on the cluster
* Publish an issue to pubsub to trigger pred

[2020-01-07 00:35] hamelsmu commented on #89
ok I will put this on my backlog

[2020-01-09 15:57] jlewi opened #99 "Test kf-label bot-dev this is a bug"
Test whether events are correctly routed to the dev instance.

If not then there is a bug in the setup.

[2020-01-16 17:01] jtfogarty commented on #63
/area engprod
/priority p2

[2020-01-16 22:13] yantriks-edi-bice commented on #88
I'm new to kubeflow and this has caused me all kinds of grief. On top of the other issues with kfctl delete and reapply this really makes things seem unusable. Glad to see it's a Google problem though ;-)

[2020-01-17 15:02] #99 closed

[2020-01-17 15:02] jlewi opened #100 "Test kf-label-bot dev this is a bug"
Another issue to test kf-label-bot dev.

[2020-01-17 15:08] #100 closed

[2020-01-17 15:09] jlewi opened #101 "Test kf label bot dev"
Another test issue

[2020-01-17 15:15] jlewi opened #102 "test kf-label-bot-dev"
test issue

[2020-01-17 15:21] jlewi commented on #102
Try to label issue.

[2020-01-17 15:23] jlewi commented on #102
more work

[2020-01-17 15:25] jlewi commented on #102
update

[2020-01-17 18:09] jlewi commented on #102
test comment

[2020-01-17 18:52] jlewi commented on #102
test app

[2020-01-17 18:54] jlewi commented on #102
test

[2020-01-17 18:54] jlewi opened #103 "kf-label-bot-dev test bug"
test bug

[2020-01-17 20:34] jlewi opened #104 "kf label bot test bug"
another test bug

[2020-01-17 23:48] jlewi opened #105 "label bot workers stop receiving pubsub messages; issue with workload identity?"
As part of #70 we deployed the workers on an update cluster which uses workload identity.

I'm observing that after the workers have been up for a long time they appear to stop receiving pubsub notifications.

This is visible in cloud console as a growing backlog of messages.

I suspect an issue related to credentials and workload identity. Bouncing the pods appears to fix it.

Related to #70

[2020-01-17 23:52] jlewi commented on #105
To try to recover

* Delete the gke metadata servers

[code]

* Restart the label bot pods

[code]

[2020-01-18 02:20] jlewi opened #106 "Test label-bot prod"
A test to see if the new prod label bot is working

This is not a bug

[2020-01-18 02:30] jlewi opened #107 "Test label bot prod"
test label bot prod

[2020-01-18 05:52] #107 closed

[2020-01-18 05:52] jlewi opened #108 "Test label bot prod"
Test if the new label bot is working

[2020-01-19 01:18] #101 closed

[2020-01-19 01:18] #102 closed

[2020-01-19 01:18] #103 closed

[2020-01-19 01:18] #104 closed

[2020-01-19 01:18] #106 closed

[2020-01-19 01:18] #108 closed

[2020-01-19 01:19] jlewi commented on #79
Logs are now in stackdriver. Here's a sample query

[code]

[2020-01-19 01:19] #79 closed

[2020-01-19 21:05] jlewi opened #109 "LabelBot should look for configuration in orgwide .github folder as well"
The label bot should support org wide label remappings by looking for a label_bot config YAML in a .github directory for the organization
see:
https://help.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file

These mappings should then be merged with any repo specific settings.

[2020-01-19 21:21] jlewi commented on #79
it looks like logs are streamed in nearly real time to BigQuery. I observed log entries showing up almost immediately. So it looks as though the sync is much more frequent then once a day.

[2020-01-20 18:09] jlewi opened #110 "Train an org wide model for Kubeflow to predict area and platform labels"
We should train a model on all Kubeflow repositories that attempts to predict the area and platform
labels.

We already have a model for kubeflow/kubeflow but this model was last trained this summer. So
we should have significantly more data.

We'd also like to start tuning the thresholds so that more issues get area labels added automatically.

Background

* Read the [README](https://github.com/k

[2020-01-24 14:54] jlewi opened #112 "Triage Action Should Use GitHub App (not a personal access token)"
We should modify the triage action workflow to use the kubeflow-auto-bot GitHub App rather than using a personal access token.

I think this relatively straightforward.

I think for the secret we would just store the private key for the GitHub App.

We would then just have to modify the action code to authenticate as the GitHub app using the private key

[2020-01-29 06:52] jlewi opened #114 "Triage action is failing; missing module jwt"
Here's an error from a failed action

[code]

Looks like the image is missing pyjwt

[2020-02-04 13:19] jlewi commented on #114
Failing now because of missing tqdm

[code]

We should stop using "latest" tag and instead use some tag like "live" which we only set on an action after validating the image.

[2020-02-15 01:16] jlewi opened #117 "Periodically retrain the Kubeflow Label model"
New data is constantly arriving as GitHub issues that have been labeled by humans or the label bot.

We would like to periodically retrain our model to benefit from this new data.

To do this we first need to

1. Create a pipeline to train a model on all the data in Kubeflow #110
1. Use KFP to periodically (once a day) run this pipeline to train a new model
1. Update the label bot so that it uses

[2020-03-13 11:51] NikeNano commented on #117
Is the Github issues with the human labeled vs the label bot currently scraped and stored or do this needs to be done as part of this issue as well?

[2020-03-15 06:19] asif001 commented on #110
@jlewi I would like to work on this issue as a part of GSoC 2020. I have experience with Python, Tensorflow and Kubernetes.

[2020-03-15 06:25] asif001 commented on #117
@jlewi  I would like to work on this issue as a part of GSoC 2020. I have experience with Python, Tensorflow and Kubernetes

[2020-03-15 20:14] jlewi commented on #117
@NikeNano currently we do not have any code which measures the actual accuracy of the label bot by looking at whether the labels applied by the label bot were later changed by a human. I think that would be interesting data to collect as part of measuring the efficacy of the bot.

I do not think that is strictly necessary for this issue; but if its something you'd like to work on feel free to subm

[2020-03-18 23:30] mukul-mehta commented on #63
Could I work on this issue?
I'm planning to contribute to Kubeflow during GSoC '20. Could you please also add me to the slack channel?

[2020-03-19 21:02] sarahmaddox commented on #110
/area gsoc

[2020-03-19 21:03] sarahmaddox commented on #117
/area gsoc

[2020-03-20 17:36] VithikShah commented on #117
@jlewi
I would like to contribute to this project idea as a part of GSOC 2020.
Regarding it can we build a pipeline maybe using Jenkins to retrain the model as soon as a new commit is made to the dataset.

[2020-03-31 14:35] AnkilP commented on #117
How much more data do you get in a day? Wouldn't it be prohibitively expensive to train a new model every day? Could a gmm be used instead of a neural network? I'm guessing these are all naive questions and I'll find my answers with a bit more searching (I'm also interested in this as a gsoc project)

[2020-04-02 13:38] jlewi commented on #117
@AnkilP you are probably right retraining every day may not make the most sense w.r.t to the amount of new data. You could look at the number of issues KF gets each day. The primary reason to start off trainining with high frequency is to test that it is working reliably. Once we know it is working reliably we can reduce the frequency to a sensible amount.

Iterating on the model is also a good id

[2020-04-06 15:25] jlewi commented on #114
Fixed.

[2020-04-06 15:25] #114 closed

[2020-04-06 15:36] jlewi opened #121 "Increase area label predictions to 25% of issues"
Filing this issue to track improving the area label predictions to 25%

Here's the current report:
https://storage.cloud.google.com/issue-label-bot-dev_reports/metrics_2020_0406.html

We are currently generating area labels for approximately 1.4% of issues.

[2020-04-06 15:39] jlewi commented on #70
Here's an initial report of how we are doing:
https://storage.cloud.google.com/issue-label-bot-dev_reports/metrics_2020_0406.html

[2020-04-06 15:39] #70 closed

[2020-04-06 22:10] jlewi commented on #110
It looks like a good first step might be to create a notebook that does the following

1. Fetches issues for all Kubeflow repos
1. Compute embeddings for all the issues
1. Train the model on all the issues

[issues_loader.ipynb](https://github.com/kubeflow/code-intelligence/blob/master/Label_Microservice/notebooks/issues_loader.ipynb) can be used to compute the embeddings for a given repo.

[repo_

[2020-04-07 16:51] jlewi opened #122 "[label bot] code duplication among notebooks"
I'm noticing a lot of code duplication between the various notebooks. Which makes it hard to identify which notebook to use. This is probably tech debt as a result of us creating new copies of code rather than refactoring and reusing. We should try to clean this up.

1. Code shared between notebooks should be moved into reusable functions, classes, or modules in the py directory
1. notebooks shoul

[2020-04-08 00:57] jlewi opened #123 "[label bot] Notebooks should use HDF5 files instead of pickled files"
We should update our notebooks e.g. Get-GitHub-Issues.ipynb to use HDF5 instead of pickled.
HDF5 files are better because they don't have pickling issues and we should be able to store additional metadata.

[2020-04-08 13:44] jlewi commented on #121
It would be worth it to try to train a model using AutoML and see what the quality is.
https://cloud.google.com/natural-language/automl/docs/prepare

[2020-04-10 15:31] jlewi opened #125 "[label bot] df to_embedding crashes on processing large dataframes"
I'm using this notebook
https://github.com/jlewi/code-intelligence/blob/kf_embeddings/Issue_Embeddings/notebooks/Get-GitHub-Issues.ipynb

I construct a dataframe with the title and body of the issues and call
df_to_embedding to compute embeddings.

This appears to be killing the notebook

I have a K80

[2020-04-10 15:40] jlewi commented on #125
I think the pod is getting killed without of memory. I'm only requesting 4 GB of memory in my pods.

[2020-04-10 15:46] jlewi commented on #125
I bumped:
CPU: 15
Memory: 32 Gi

[2020-04-10 15:55] jlewi commented on #125
With the bumped up settings it worked.

[2020-04-10 15:55] #125 closed

[2020-04-11 23:45] jlewi opened #126 "[label bot] Embeddings Service should use GraphQL API to fetch issue data"
Right now the embedding code is using BeautifulSoup to fetch and extract title and body from a GitHub issue.
https://github.com/kubeflow/code-intelligence/blob/9bbdce34fc0d81bfb9a63493941763771d2a0746/py/code_intelligence/embeddings.py#L36

I'm noticing that these leads to slight discrepancies between how whitespace is encoded in the resulting body compared to the data we get via the GraphQL API a

[2020-04-12 23:06] jlewi commented on #110
#124 provides a notebook to do #1 & #2; so next step would be to train a model using those embeddings.

The embeddings I computed are stored at
gs://repo-embeddings/kubeflow/2020_0428/kubeflow_issue_embeddings_2020-04-11T17:15:10.000876-07:00.hdf5

[2020-04-14 12:25] k4rth33k opened #127 "https://embeddings.gh-issue-labeler.com is down."
The site mentioned in the README.md of flask_app directory is not working.

[2020-04-27 23:21] jlewi commented on #127
Thanks @k4rth33k ; I'm not sure we want to continue to maintain that site as a publicly available endpoint. So might make sense to update the README to not refer to it.

/cc @hamelsmu

[2020-04-28 00:13] jlewi commented on #110
I trained the model and did some qualitative analysis by looking at predictions on recent issues. Here's an [HTML version of my notebook](https://00e9e64baca43e719d3a8eb4f403f86ca80ecaeea4c31c23eb-apidata.googleusercontent.com/download/storage/v1/b/issue-label-bot-dev_reports/o/repo_mlp.2020-0427.html?qk=AD5uMEtqXyMRuo_WEH72w74Rqy-ZYzv16xs-3lN2F4rwIlZw9SD5fAatuWu9PktoK4La53u4oza0h-oT7dfO-XGONYfxJs

[2020-04-28 03:07] k4rth33k commented on #127
Ok. Thanks @jlewi

[2020-04-29 00:48] #127 closed

[2020-05-01 23:09] jlewi opened #131 "[label bot] test issue - this issue is about jupyter"
An issue to test the new automl model.

This is an issue about jupyter.

When jupyter runs.

Lots of notebooks.

Will we we predict area/jupyter laybel?

[2020-05-02 00:55] jlewi opened #132 "Test: jupyter bug with automl bot"
jupyter notebooks isn't working for me. Every time the notebook tries to start it crashes.

This is a fake issue to test the new iteration of label bot which is using an automl model.

I want to see if we get a kind and area label

[2020-05-02 00:57] #132 closed

[2020-05-02 01:22] #131 closed

[2020-05-02 01:26] jlewi opened #133 "[label bot] Use text in additional comments not just the initial comment"
We should use the text from all comments not just the first comment to try to predict issue labels.

Hopefully subsequent discussion in the issue will help clarify what the issue is about and lead to better label predictions.

There are multiple pieces involved in this

* We need to modify the front end to send events to the workers for comment events not just issue created events
* the workers ne

[2020-05-02 14:48] jlewi opened #135 "[label bot] kubeflow/kubeflow#4994 is missing a label bot comment"
The issue kubeflow/kubeflow#4994 is missing a comment indicating it was processed by the label bot.

I looked at the worker logs and found no mention of the issue.

[2020-05-02 14:49] jlewi commented on #135
Looks like this issue got labeled so it might be a fluke.

[2020-05-02 14:55] jlewi opened #136 "[label bot] AutoML need to handle "/" in labels better"
AutoML models don't allow "/" in label names. I initially handled this by just replacing "/" with a "-".

But this is problematic because some of our labels have "-" in them e.g.

"area/front-end"

Inverting the mapping therefore becomes problematic e.g

[code]

To map `area-front-end` back to the original value we can't just replace all "-" with "/".

As a temporary work around I only replaced th

[2020-05-02 17:28] jlewi opened #137 "[label bot] test issue - removing and adding labels"
This is a test issue.

We need to verify that we properly get labels when they are added and then removed.

[2020-05-02 17:29] jlewi commented on #137
A second comment lets remove a bunch of labels.

Lets remove a bunch of labe

[2020-05-03 00:07] jlewi commented on #137
Lets add a comment all about jupyter to see if the label bot will add the jupyter label to this issue.

Notebooks are really important to Kubeflow. We have so many issues about notebooks and jupyter. The label bot is really good at classifying issues related to notebooks.

[2020-05-03 00:08] jlewi commented on #137
Woo Hoo; looks like the area/jupyter label was added but not kind/bug because it was already removed.

[2020-05-03 00:10] jlewi commented on #137
Can we make the label bot think this is all about GCP. We have a lot of issues about GCP and GKE. We invest a lot in making Kubeflow run well on GCP and Google Cloud Platform.

[2020-05-03 00:45] #137 closed

[2020-05-03 00:45] jlewi commented on #133
* Draft PRs are open with both backend (#138) and front end changes (machine-learning-apps/Issue-Label-Bot#72)

* The backend has been deployed to dev (but not prod)
* I'm currently deploying the frontend to dev

We should verify things are working in dev before promoting to prod.

I did some verification of the backend see test issue kubeflow/code-intelligence#137

The backend seems to be properl

[2020-05-03 00:58] jlewi commented on #133
I temporarily enabled the github app `kf-label-bot-dev` on kubeflow/kubeflow to test it out and likewise disabled issue-label-pod  (the prod instance) on kubeflow/kubeflow.

[2020-05-04 15:07] jlewi commented on #133
Some follow on work

* @hamelsmu suggested [here](https://github.com/kubeflow/code-intelligence/pull/138#issuecomment-623035691) adding some sort of feature flag to let the model learn that additional text is comments.

* AutoML doesn't give us a lot of flexibility to provide additional features; it just takes a text file containing the document.

* One thing we could do though is potentially use

[2020-05-04 15:13] jlewi commented on #133
* The backend changes #138 have been pushed to prod.

[2020-05-04 15:24] jlewi commented on #133
* The frontend changes have been rolled out to prod.

[2020-05-04 15:26] jlewi commented on #133
Cool! That [comment](https://github.com/kubeflow/code-intelligence/issues/133#issuecomment-623530795) indicates it is working.

[2020-05-04 15:28] jlewi commented on #133
I turned off issue-label-bot-dev on kubeflow/kubeflow. Looks likes like label-bot was still enabled on kubeflow/kubeflow so I didn't need to reenable it.

[2020-05-04 16:24] hamelsmu commented on #133
/lgtm
/approve

[2020-05-04 16:24] hamelsmu commented on #133
👍

[2020-05-04 19:55] jlewi opened #139 "[labelbot] Not correctly applying label alias defined in org level config"
Here's an example issue:
https://github.com/kubeflow/gcp-blueprints/issues/6

LabelBot applied the label "feature" rather than mapping it to "kind/feature".

There is both a repo level config:
https://github.com/kubeflow/gcp-blueprints/blob/master/.github/workflows/issue_label_bot.yaml

And an org level config
https://github.com/kubeflow/code-intelligence/blob/master/.github/issue_label_bot.yaml

[2020-05-05 12:47] jlewi commented on #139
Logs indicate there is no repo specific config.
https://github.com/kubeflow/code-intelligence/blob/17c86084e5c6d834455d89e6fca9e3223595faa3/py/label_microservice/worker.py#L271

e.g for issue https://github.com/kubeflow/kfserving/issues/810

[2020-05-05 12:48] jlewi commented on #139
Logs show 404s

[code]

[2020-05-05 12:50] jlewi commented on #139
I suspect this might be because the issue label bot isn't installed on the .github repo. So I added it to that repo lets see if it starts to work.

[2020-05-05 23:09] jlewi commented on #139
This is fixed by installing the bot on ".github" repo.
Here's an issue showing we applied the appropriate alias for "feature" to /kind/feature
https://github.com/kubeflow/gcp-blueprints/issues/9

[2020-05-05 23:09] #139 closed

[2020-05-08 19:06] WJayesh commented on #136
Hello! I am new to contributing to this repository. Can I submit a PR for this issue?
I think I have understood the problem and identified the code that needs to be modified to solve it.
Thanks :)

[2020-05-15 01:48] jlewi opened #140 "[label bot] Can we take advantage of negative examples"
Forked from: https://github.com/microsoft/vscode-github-triage-actions/issues/5#issuecomment-628312837

From @hamelsmu

So here's what I'm thinking. Suppose we have an issue which doesn't have a particular label e.g "platform/gcp". The absence of that label could mean one of two things.

* The issue was never labeled
* The label doesn't apply to that issue

During training we would like to disting

[2020-05-15 17:34] hamelsmu commented on #140
Some general thoughts

- My intuition says that you should hand label 100 examples and get a sense for the quality of existing labels in the dataset.  Fundamentally, if you believe that many examples are labeled incompletely, this introduces a tremendous amount of noise to your models necessitating more data to overcome.  I don't believe you have much training data on the scale of Kubeflow.
- If y

[2020-05-15 19:17] jlewi opened #141 "Organize GCP projects and use GitOps"
Opening this issue to log organizational structure changes to our bot projects.

Ultimately we want to manage them better using GitOps and ACM.

[2020-05-15 19:19] jlewi commented on #141
* issue-label-bot-dev was under folder contributors
* githubprobots was under folder ci which is the parent for the new engprod bots folder

[2020-05-15 20:03] jlewi commented on #141
The kubeflow/testing management cluster in project kf-ci-management can now manage the issue-label-bot-dev project.

[2020-05-15 22:14] jlewi opened #142 "[chatbot] Start building a KF assistant - who owns this label?"
To continue to reduce toil, I'd like to experiment with build a virtual assistant using Dialogflow to
answer common queries.

To get some of the scaffolding in place, I'd like to start by answering a very simple query: who owns this label?

To answer this query we just need to load [label-owners.yaml](https://github.com/kubeflow/community/blob/master/labels-owners.yaml) and map the area to the lis

[2020-06-23 05:04] psykidellic commented on #78
I hit the same issue today using the custom builder. If i set infer, it gives me the synmacp error. But doing manual worked. This is a simple Flask based app. Let me know if you need more info to work on this or some other issue, i can respond to.

[2020-06-30 13:32] jlewi opened #149 "[label bot] Dashboard link in label comment is wrong"
The dashboard link points to
https://github.com/marketplace/issue-label-botdata/kubeflow/code-intelligence

This is incorrect: it should be

https://label-bot-prod.mlbot.net/data/kubeflow/code-intelligence

Looks like this is set here
https://github.com/kubeflow/code-intelligence/blob/dec122b378967f523aa03479593411d4489dc329/py/label_microservice/worker.py#L22

But can be set via environment varia

[2020-06-30 13:43] jlewi opened #150 "[label bot] keras requires TensorFlow 2.2 or higher"
I just rebuilt the docker image for label bot worker  and when I ran the newly built docker image I started seeing these exceptions

[code]

It looks like our requirements.txt files and Dockerfile pin TensorFlow but not keras. I suspect the ktext installation is pulling in Keras and so we started pulling in a newer version of Keras

[2020-06-30 13:48] jlewi commented on #150
Our existing docker images appear to use

[code]

[2020-06-30 14:06] jlewi opened #151 "[label bot] ml-github-app pods not starting in prod namespace"
* **project** issue-label-bot-dev
* **cluster** gke_issue-label-bot-dev_us-east1-d_issue-label-bot
* **namespace** label-bot-prod

There is a deployment `ml-github-app` that has zero pods running because it is missing secrets.

As described here: https://github.com/kubeflow/code-intelligence/tree/master/Label_Microservice#production
I think the flask app is supposed to be running in a different pr

[2020-06-30 14:07] jlewi commented on #151
[code]

[2020-06-30 14:07] #151 closed

[2020-06-30 14:24] jlewi commented on #150
<null comment to trigger bot>

[2020-06-30 18:11] jlewi commented on #150
Fixed by #152

[2020-06-30 18:11] #150 closed

[2020-06-30 18:11] jlewi commented on #149
Should be fixed by #152

[2020-06-30 18:11] #149 closed

[2020-06-30 18:27] jlewi opened #153 "[label bot] install Tekton on issue-label-bot cluster"
Tracking issue for installing Tekton on issue-label-bot cluster

Per: https://github.com/tektoncd/pipeline/issues/2667

Tekton requires 1.15 our cluster is currently 1.14 so we need to upgrade.

Will switch to regular channel:
https://cloud.google.com/kubernetes-engine/docs/release-notes-regular

[2020-06-30 18:29] jlewi commented on #153
[code]

[2020-06-30 18:30] jlewi commented on #153
Lets try upgrading to `1.15` first

[2020-06-30 18:36] jlewi commented on #153
Upgrade to 1.15.12-gke.6 worked
Now lets upgrade to 1.16.9-gke.6 to bring it in sync with regular channel.

[2020-06-30 19:01] jlewi commented on #153
Upgrade to 1.16.9 worked.

[2020-06-30 19:02] jlewi commented on #153
Enrolled in regular channel

[code]

[2020-07-01 00:24] jlewi commented on #153
Fixed by #154

[2020-07-01 00:24] #153 closed

[2020-07-01 01:31] jlewi opened #155 "[label bot] Continuously train and deploy label bot model - using GitOps"
We'd like to periodically (weekly) retrain the model and deploy the latest model to production.

This would allow us to benefit from

* Additional data to train from
* Incorporate new labels that might have been added

We'd like to use GitOps. We should automatically create a PR to update the model and once that model is approved and merged  the new model should get deployed automatically.

There

[2020-07-04 17:30] jlewi commented on #155
I created a GitHub app to be used to create PRs
https://github.com/organizations/kubeflow/settings/apps/label-bot-cd

Created a private key
Finger print a0:3c:a9:87:e9:46:df:55:71:92:87:a1:bc:71:d6:6b:e0:7a:2f:89

Private key is stored in secret manager
https://cloud.console.google.com/security/secret-manager/secret/label-bot-cd-github-app-pem?project=issue-label-bot-dev

[2020-07-06 01:32] jlewi commented on #110
An org wide model is now deployed and performing very well.

[2020-07-06 01:32] #110 closed

[2020-07-16 05:40] jlewi commented on #155
controller is working locally; Here's an auto-created PR.
https://github.com/kubeflow/code-intelligence/pull/166

Now I just need to get it deployed in the cluster.

[2020-07-16 05:59] jlewi opened #167 "[ModelSync Controller] In cluster development"
We'd like to be able to

1. Use GitOps to deploy the production version of the controller
1. Deploy a development version of the controller in a different namespace
1. Control which controller selects a resource based on labels

Does kubebuilder have built in support for this?

[2020-07-16 06:05] jlewi opened #168 "[ModelSync Controller] Rename, Refactor, and Move"
The ModelSync Controller isn't really a model sync controller.

Its more of a generic controller aimed at building declarative APIs.

You specify a lambda that determines whether the world needs to be updated and if so what parameters are needed for a Tekton pipeline to syncronize the world.

The controller will then launch the Tekton workflow.

We will probably want to reuse this controller for a

[2020-07-16 15:51] jlewi opened #170 "[issue-label-bot] Upgrade cert-manager on label-bot-cluster"
Opening this issue to track upgrading cert-manager on the label bot clusters.

cluster: "issue-label-bot"
project: "issue-label-bot-dev"

The cluster has the following CRDs

[code]

I think these are the old versions from 0.5.
https://cert-manager.io/docs/installation/upgrading/upgrading-0.5-0.6/

I think the new domain for all resources is "cert-manager.io".

I want to upgrade in order to install

[2020-07-16 15:54] jlewi commented on #170
Doesn't looks like we have any of these resources.

[code]

Deleted these resources

[code]

[2020-07-16 16:03] jlewi commented on #170
Manifest checked in in #171 and applied

[2020-07-16 16:03] #170 closed

[2020-07-16 17:47] jlewi opened #172 "[Model Sync Controller] Remove post processing of the kubebuilder CRD"
We currently post-process the CRD generated by kubebuilder here
https://github.com/kubeflow/code-intelligence/blob/7f514162b674b3bcd28bc4600c7b2f22a7703c39/Label_Microservice/go/Makefile#L55

This post-processing removes validation for PipelineRunRef and just treats it as an arbitrary json.

This is undesirable because we'd like validation to insure PipelineRunRef's are correct.

This was necessar

[2020-07-16 18:19] jlewi commented on #155
Its deployed in production.
Here's an auto created PR
https://github.com/kubeflow/code-intelligence/pull/173

[2020-07-16 18:21] jlewi opened #174 "[Model Sync] Needs Sync Needs to take into account open PR"
Right now needs sync only compares the latest model to the model on master.

As a result, we end up firing off a Tekton pipeline if there is a PR open with a pending update. We should detect that and not fire off a pipeline.

[2020-07-16 18:24] jlewi commented on #174
@hamelsmu Do you know offhand if there is a good way to encode metadata in a PR?

[2020-07-16 18:27] jlewi commented on #174
I didn't see anything in the payload.
https://developer.github.com/v4/object/pullrequest/

I think we will just have to put data into the title and comment and use that to look for PRs.

[2020-07-16 18:30] hamelsmu commented on #174
@jlewi I am not 100% sure what you are looking for.  Can you describe it in a bit more detail?

[2020-07-16 20:54] jlewi commented on #174
@hamelsmu I'd like to be able to programmatically identify if the bot had previously opened a PR to update a model to a specific version. So the easiest thing would be if it was easy to annotate the PR with some machine readable metadata; i.e. a json object containing whatever metadata the bot needs.

It looks like the only way to encode information on a PR would be in the comment itself but maybe

[2020-07-17 06:17] hamelsmu commented on #174
Yes you are correct

[2020-07-26 17:53] jlewi opened #178 "[Label Bot Continuous Training] Needs Training Needs to take into account whether there is a model currently being trained"
Our synchronous training pipeline is currently spawning multiple instances of training rather than the expected 1 model per hour.

The problem appears to be the code to decide whether to train a model only looks at whether there is a trained model.
So I don't think we take into account whether a model is currently being trained.
https://github.com/kubeflow/code-intelligence/blob/faeb65757214ac9325

[2020-07-26 17:58] jlewi commented on #178
It looks like we need to also look at the datasets and see if there is a model training in progress.

[2020-10-05 13:06] jlewi commented on #178
#182 auto PR created for a model trained by manually running the notebook.

Need to verify that a new model is trained automatically and then deployed.

[2020-10-17 00:55] jlewi opened #185 "LabelBot continuous training is failing - notebook fails to run"
Notebook is failing to run. Its choking trying to install papermill and some other dependencies

[code]

Looks like we aren't pinning papermill so I suspect papermill upgraded

[2020-10-20 03:02] GauravSarkar commented on #123
Hi I understood the issue and want to contribute. As I am new to open sourcing I don't know how to get started. Can you help me by helping me to find the .ipynb file where I want to make the changes from pickle to HDF5.
looking forward towards some help. Thanks!!

[2020-10-20 07:19] GauravSarkar commented on #123
@jlewi I made a PR but I am facing some issues. Can you kindly help me.I fixed the issue but i guess I made some error in the submission process.please kindly help.

[2020-10-20 08:04] GauravSarkar commented on #123
I have not made changes to all the notebooks. I am waiting for your response regarding current PR's.

[2020-10-20 12:34] jlewi commented on #123
@GauravSarkar I appreciate your willingness to help. I will try to review your PRs and answer questions but I don't have a whole bunch of time.

[2020-10-20 17:15] GauravSarkar commented on #123
Thank you for your support.

[2020-10-22 06:02] GauravSarkar commented on #136
I looked at the issue and it seemed I can solve it, but it would be a great help if I can get little bit more clarification on what I have to do exactly. @jlewi little help can help me get started on this.

[2020-10-28 05:21] GauravSarkar commented on #136
@jlewi I sent a PR but no action has been taken regarding that. Can You please kindly look into it and merge it.

[2020-10-29 13:30] jlewi commented on #136
@GauravSarkar thanks!

in general it is a good idea to discuss what you are planning and get buy in before investing time and doing the work.

I think this is more involved then just updating the notebook #188

The training and serving code both need to be updated to handle the mapping the same way; otherwise we will have a problem.

This in turn means we need to do a coordinated rollout; i.e. rol

[2020-10-29 14:52] GauravSarkar commented on #136
I  was thinking the same that if I make changes at one place it won't work. I have no access to gcp, so I think I won't be able to progress much.

[2020-10-30 15:36] jlewi commented on #136
@GauravSarkar do you have access to notebooks? Perhaps you could help out with issues like kubeflow/community#439 regarding creating reports about Kubeflow community health?

[2020-11-03 14:18] jlewi commented on #185
image is gcr.io/kubeflow-images-public/tensorflow-1.15.2-notebook-cpu@sha256:1aac550b0d76c23d6400f9426542fe2948203bfa95cbd61fee23d8df674b404a

I can repo the bug bu running inside that docker image

[code]

[2020-11-03 14:19] jlewi commented on #185
[code]

[2020-11-03 14:20] jlewi commented on #185
[code]

[2020-11-03 14:32] jlewi commented on #185
Installing papermill works on `tensorflow/tensorflow:2.1.2-jupyter` even thought is python 3.6.9

[2021-04-13 15:33] jlewi opened #208 "Archive the Repo"
This repo is no longer under development.

I would suggest archiving the repo to signal that.

@kubeflow/google-admins you can go ahead and archive this repo.

[2021-06-01 13:58] jlewi commented on #208
@Bobgy Could you or one of the other @kubeflow/google-admins  please archive the repo?

[2021-06-07 10:22] Bobgy commented on #208
@jlewi thanks for the reminder, I'll do this in batch, see https://github.com/kubeflow/community/issues/479#issuecomment-855805631

[2021-11-08 18:04] zijianjoy commented on #208
@jlewi I will take on the task to archive this repo. I project Nov 30th to be the date of archiving.

- Is there any alternative we suggest current users to migrate to, so we can safely archive this repo?
- Is there a list of contacts we should notify for this archive?